<hr class="my-20" />

<button (click)="blueClass = !blueClass" [ngClass]="{ blue: blueClass }">
  Change
</button>

<p *ngIf="blueClass">The Button is Blue!</p>

<input
  (keyup)="changeImage($event)"
  [value]="imgURL"
  type="text"
  name=""
  id=""
/>

<app-post
  *ngFor="let image of images; let i = index"
  (imgSelected)="LogImg($event)"
  [postImg]="image"
>
  <p>{{ i }}Hello new caption!</p>
</app-post>

<p>Hello {{ name | titlecase }}</p>
<p>Hello {{ getName() }}</p>
<p>{{ 15 + 13 }}</p>
<p>{{ currentDate | date : "MMMM d" }}</p>
<p>{{ cost | number : "1.0-0" }}</p>
<pre>{{ pizza | json }}</pre>
